[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

affine = ">=1.0"
click = "*"
"jinja2" = "*"
palettable = "*"
pytz = "*"
fiona = ">=1.6.0"
"netcdf4" = ">=1.1.1"
numpy = "*"
pyproj = "*"
rasterio = ">=1.0a12"
pillow = "==8.1.1"


[dev-packages]

pytest = "*"
pytest-cov = "*"
wheel = "*"
twine = "*"
